{% raw %}{% load static %}{% endraw %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{cookiecutter.project_name}}</title>
    <link rel="stylesheet" type="text/css" href="{% raw %}{% static 'css/main.css' %}{% endraw %}"/>
  </head>
  <body>
    {% raw %}{% block content %}{% endraw %}

    {% raw %}{% endblock content %}{% endraw %}

    <script src="{% raw %}{% static 'js/bundle.js' %}{% endraw %}"></script>
  </body>
</html>
